.friendMessage {
background-color: red;
}

.friendImageAndText {
    display: flex;
    flex-direction: row;
}

.friendImageAndText img {
    height: 70px;
}

.friendText {
    background-color: whitesmoke;
    padding: 10px;
    color: black;
    display: flex;
}

.friendText:after {

}

.friendName {
    font-weight: 600;
}

.friendMessageText {
    color:black;
}

.friendTime {

}