.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
}


.error {
    color: #cc0000;
    font-size: 14px;
    font-family: Montserrat;
    margin-top: 7px;
}

.input {
    width: 372px;
    height: 36px;
    border: #D9D9D9 1px solid;
    border-radius: 6px;
    margin-top: 9px;
    color: #000;
    font-size: 16px;
    font-family: Montserrat, serif;
    font-weight: 500;
    padding-left: 12px;
}

.input:focus {
}

.errorInput {
    border: #cc0000 1px solid;
    width: 372px;
    height: 36px;
    border-radius: 6px;
    margin-top: 9px;
}

.button {
    border-radius: 3px;
    background: #06C;
    display: inline-flex;
    height: 36px;
    padding: 5px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    margin-left: 12px;
    margin-top: 9px ;
    color: #FFF;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 20px;
    border: 0;
}

.button:focus {
}

.button:active {
    background: #0066cc;
}

.button:disabled {
    opacity: 0.5;
}

.text {
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
    color: aquamarine;
}
